<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@comment, url: comment_index_path, remote: true) do  |f| %>
      <%= f.label :writer %>
      <%= f.text_field :writer, class: 'form-control' %>
      <br>
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>
      <br>
      <%= f.hidden_field :issue_id, value: @issue.id, class: 'form-control' %>
      <br>
      <%= f.submit 'Send', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>