<section class="section-top-header">
  <div class="background">
    <div class="back-trans">
      <div class="top-header-text">
        <span class="catch">全国の<span class="strong">奨学金</span>を一斉比較！</span>
        <br>
        <span>全国の奨学金を比較して自分にぴったりのものを見つけましょう</span>
      </div>
      <div class="top-header-search">
        <%= form_tag root_path, :method => 'get' do %>
          <p align="center">
            <i class="fa fa-search" style="font-size: 26px;"></i>
            <%= text_field_tag :search, params[:search],:placeholder => "スペース区切りで複数条件検索", class: 'form-control', style: 'width: 300px;display: inline;'%>
            <%= submit_tag "Search", :name => nil , class: "button-sc"%>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="row">

    <div class="col-md-4">

      <div class="stickyMenu box-shadow">
        <div>検索の結果<span class="number"><%= @issues.count %></span>件がヒットしました</div>
        <%= form_for @issue ,url: root_path, method: :get do |f| %>
          <div class="title">形式</div>
          <div>
            <%= f.check_box :loan_or_pay, {multiple: true, :onclick => "addParamRateOn()", id: 'rate_on'},'貸与',nil %>
            <span>貸与(有利子)</span><br>
            <%= f.check_box :loan_or_pay, {multiple: true, :onclick => "addParamRateOff()", id: 'rate_off'},'貸与',nil %>
            <span>貸与(無利子)</span><br>
            <%= f.check_box :loan_or_pay, {multiple: true},'給付',nil %>
            <span>給付</span><br>
          </div>
          <div class="title">学年</div>
          <div>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="B1"><span>B1</span></span>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="B2"><span>B2</span></span>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="B3"><span>B3</span></span>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="B4"><span>B4</span></span>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="B5"><span>B5</span></span>
            <br>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="B6"><span>B6</span></span>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="M1"><span>M1</span></span>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="M2"><span>M2</span></span>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="D1"><span>D1</span></span>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="D2"><span>D2</span></span>
            <br>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="D3"><span>D3</span></span>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="高専"><span>高専</span></span>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="専門"><span>専門学校</span></span>
            <br>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="短大"><span>短大</span></span>
            <span class="grade-checkbox"><input type="checkbox" name="grade[]" value="高校生"><span>高校生以下</span></span>
          </div>
          <div class="title">地域</div>
          <div>
            <%= f.check_box :region, {multiple: true},'全国',nil %>
            <span>全国</span>
            <%= f.check_box :region, {multiple: true},'関東',nil %>
            <span>関東</span>
            <%= f.check_box :region, {multiple: true},'東北',nil %>
            <span>東北</span>
            <%= f.check_box :region, {multiple: true},'北陸',nil %>
            <span>北陸</span><br>
            <%= f.check_box :region, {multiple: true},'近畿',nil %>
            <span>近畿</span>
            <%= f.check_box :region, {multiple: true},'中国',nil %>
            <span>中国</span>
            <%= f.check_box :region, {multiple: true},'四国',nil %>
            <span>四国</span>
            <%= f.check_box :region, {multiple: true},'中部',nil %>
            <span>中部</span><br>
            <%= f.check_box :region, {multiple: true},'九州',nil %>
            <span>九州</span>
            <%= f.check_box :region, {multiple: true},'北海道',nil %>
            <span>北海道</span><br>
            <%= f.check_box :region, {multiple: true},'海外',nil %>
            <span>海外</span>
          </div>
          <button class="button-sc">検索</button>
        <% end %>
      </div>

    </div>

    <div class="col-md-8">
      <div class="items-main">
        <% @issues.each do |issue| %>
            <div class="item-wrapper box-shadow">
              <%= link_to issue_path(issue) do  %>
              <div class="item-header">
                <div><span class="title"><%= issue.title %></span></div>
                <div>
                  <span class="index">支給額</span><br>
                  <span class="payment"><span class="number">¥ <%= issue.schlorship_layers.first.price unless issue.schlorship_layers.first.nil? %></span> /年</span>
                  <br>
                  <span class="genre-box">
                    <%= issue.loan_or_pay %>
                  </span>
                    <% if issue.loan_or_pay == '貸与' && issue.rate == '無利子' %>
                      <span class="interest-box">無利子</span>
                    <% elsif issue.loan_or_pay == '貸与' %>
                      <span class="interest-box">有利子</span>
                    <% else %>
                    <% end %>
                </div>
              </div>
              <div class="item-text">
                <span class="index">説明</span><br>
                <span><%= issue.description %></span><br>
                <span class="index">応募要件</span><br>
                <span><%= issue.requirement %></span>
              </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script language="JavaScript">
function addParamRateOn(){
  if ($('#input_rate_on')[0]) {
    $('#input_rate_on').remove();
  } else {
    $('#new_issue').append('<input type="hidden" name="rate[]" value="有利子" id="input_rate_on">');
  }
}
function addParamRateOff(){
  if ($('#input_rate_off')[0]) {
    $('#input_rate_off').remove();
  } else {
    $('#new_issue').append('<input type="hidden" name="rate[]" value="無利子" id="input_rate_off">');
  }
}
</script>