<div class="content-block" id="portfolio">
  <div class="container portfolio-sec">
    <header class="block-heading cleafix">
      <div class="title-page">
        <p class="main-header">Scholarship </p>
          <p class="sub-header">奨学金</p>
        </div>

    <%= form_tag issue_index_path, :method => 'get' do %>
      <p>
        <span>名前で検索</span>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
    </header>

    <section class="block-body">
      <% @issues.each do |issue| %>
        <div class="col-sm-4 sc_block">
          <%= link_to issue_path(issue) , class: "sc-block-wrapper", style: "background-color:white;" do%>
            <div class="sc-block-inner">
              <div class="sc-block-header">
                <div class="block-badge">貸与型</div>
                <div class="block-icons">
                  <i class="fa fa-comment-o"> <%= issue.comments.count %></i>
                  <i class="fa fa-heart-o"> 0</i>
                  <i class="fa fa-star-o"> 0</i>
                </div>
                <div class="sc-block-name"><%= issue.title %></div>
              </div>
              <table class="sc-block-table">
                <tr class="border-tr">
                  <td class="sc-table-left">支給額</td>
                  <td class="sc-block-right"><%= issue.payment %></td>
                </tr>
                <tr class="border-tr">
                  <td class="sc-table-left">期間</td>
                  <td class="sc-block-right">#年間</td>
                </tr>
                <tr>
                  <td class="sc-table-left">対象</td>
                  <td class="sc-block-right"><%= issue.target %></td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>
    <%= paginate @issues %>

  </div>
</div>