<div class="content-block" id="portfolio">
  <div class="container portfolio-sec">
    <header class="block-heading cleafix">
      <div class="title-page">
        <p class="main-header">Scholarship </p>
          <p class="sub-header">奨学金</p>
        </div>

    <%= form_tag issue_index_path, :method => 'get' do %>
      <p align="center">
        <i class="fa fa-search" style="font-size: 26px;"></i>  
        <%= text_field_tag :search, params[:search],placeholder: '理系、女性、高等専門学校 ...',class: 'form-control', style: 'width: 400px;display: inline;'%>
        <%= submit_tag "Search", :name => nil , class: "btn btn-o", style: 'margin: 10px;'%>
      </p>
    <% end %>
    </header>

    <section class="block-body">
      <% @issues.each do |issue| %>
        <div class="col-sm-4 sc_block">
          <%= link_to issue_path(issue) , class: "sc-block-wrapper", style: "background-color:white;" do%>
            <div class="sc-block-inner">
              <div class="sc-block-header">
                <div class="block-badge"><%= issue.loan_or_pay %></div>
                <div class="block-icons">
                  <i class="fa fa-comment-o"> <%= issue.comments.count %></i>
<!--                   <i class="fa fa-heart-o"> 0</i>
                  <i class="fa fa-star-o"> 0</i> -->
                </div>
                <div class="sc-block-name"><%= issue.title %></div>
              </div>
              <table class="sc-block-table">
                <tr class="border-tr">
                  <td class="sc-table-left">支給額</td>
                  <td class="sc-block-right"><%= issue.payment.truncate(40) %></td>
                </tr>
                <tr class="border-tr">
                  <td class="sc-table-left">利率</td>
                  <td class="sc-block-right"><%= issue.rate.truncate(40) %></td>
                </tr>
                <tr>
                  <td class="sc-table-left">要件</td>
                  <td class="sc-block-right"><%= issue.description.truncate(54) %></td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>
    <%= paginate @issues %>

  </div>
</div>