<% provide :title, @issue.title + "|奨学金Navi" %>
<% provide :og_title, @issue.title + "|奨学金Navi" %>
<div class="container">
  <div class="row section issue-header">
    <div class="col-md-6"><h1><%= @issue.title %></h1></div>
    <div class="col-md-3 genre-box-wrapper">
      <span class="genre-box">
        <%= @issue.loan_or_pay %>
      </span>
    </div>
    <div class="col-md-3">
      <% if @issue.loan_or_pay == '貸与' && @issue.rate == '無利子' %>
        <span class="interest-box">無利子</span>
      <% elsif @issue.loan_or_pay == '貸与' %>
        <span class="interest-box">有利子</span>
      <% else %>
      <% end %>
    </div>
    <div class="col-md-12">
      <div class="issue-catch">
        <% unless @issue.image_url.blank? %>
          <%= image_tag @issue.image_url %>
        <% else %>
          <%= image_tag 'img_main_scholarship.jpg' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="section row">
    <div class="col-md-5">
      <ul class="nav nav-tabs ">
        <% @issue.schlorship_layers.each_with_index do |sc, index| %>
          <li class="nav-item">
            <% if index == 0 %>
              <a class="nav-link active" data-toggle="tab" href="#<%= sc.layer %>"><%= sc.layer %></a>
            <% else %>
              <a class="nav-link" data-toggle="tab" href="#<%= sc.layer %>"><%= sc.layer %></a>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class="tab-content box-shadow">
        <% @issue.schlorship_layers.each_with_index do |sc, index| %>
            <% if index == 0 %>
              <div class="tab-pane active" id="<%= sc.layer %>">
            <% else %>
              <div class="tab-pane" id="<%= sc.layer %>">
            <% end %>
              <table>
                <tbody>
                  <tr>
                    <th>支給額</th>
                    <td>¥ <span class="strong"><%= sc.price %></span> / 
                      <%= '月' if sc.range == 'Month' %>
                      <%= '年' if sc.range == 'Year' %>
                    </td>
                  </tr>
                  <tr>
                    <th>支給期間</th>
                    <td><span class="strong"><%= sc.get_duration %></span><%= '年' unless sc.get_duration == '-' %></td>
                  </tr>
                  <tr>
                    <th>募集人数</th>
                    <td>
                      <% unless sc.accept_number == '-' %>
                        <span class="strong"><%= sc.accept_number %></span>人
                      <% else %>
                        <span class="strong"><%= sc.accept_number %></span>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <th>対象地域</th>
                    <td><span class="strong"><%= @issue.region %></span></td>
                  </tr>
    <!--          FIXME! 後で追加     
                  <tr>
                    <th>申込時期</th>
                    <td><span class="strong">4</span>月</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
        <% end %>
        <!-- <div class="tab-pane container" id="menu1">...</div> -->
      </div>
    </div>
    <div class="col-md-7">
      <section class="issue-sc">
        <b>概要</b><br>
        <div>貸与型の奨学金です。 全国の都道府県に窓口となる支部があります。</div>
      </section>
      <section class="issue-sc">
        <b>支払詳細</b><br>
        <div>奨学金の貸与期間は、正規の最短修業期間とします。貸与する奨学金の額は、修業期間1年につき25万円以内とし最高100万円とします。</div>
      </section>
      <section class="issue-sc">
        <b>応募要件</b><br>
        <div>国公私立大学院、大学、短期大学、高等専門学校および専修学校専門課程に在学し、学資金の支払いが困難と認められるものとします。ただし、高等専門学校については、第4学年以上の在学生に限るもの</div>
      </section>
      <%= link_to(@issue.url, target: '_blank') do %>
      <span class="genre-box">
        公式ページ
      </span>
      <% end %>
      <br>
    </div>
  </div>
<br>
  <% if @issue.loan_or_pay  == '貸与' %>
  <div class="row issue-bottom">
    <div class="col-md-4">
      <div>
        <b>借入シュミレーター</b><br>
        <%= form_tag(issue_path, method: :get) do %>
        <table>
          <tbody>
            <tr>
              <th>単年度借入額</th><td><%= number_field_tag :amount %> 円</td>
            </tr>
            <tr>
              <th>借入年数</th><td><%= number_field_tag :year %> 年</td>
            </tr>
            <tr>
              <th>返済年数</th><td><%= number_field_tag :back_year %> 年</td>
            </tr>
          </tbody>
        </table>
          <%= submit_tag("見積もる", class: 'button-sc') %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-8">
      <div>
        <table>
          <tbody>
            <tr>
              <th>単年度借入額  </th><td><%= @amount %> 円</td>
            </tr>
            <tr>
              <th>借入年数  </th><td><%= @year %> 年</td>
            </tr>
            <tr>
              <th>返済年数  </th><td><%= @back_year %> 年</td>
            </tr>
            <tr>
              <th>単年度返済額  </th><td><%= @back_amount %>円</td>
            </tr>
          </tbody>
        </table>
        <canvas id="myChart" class="chart-canvas"></canvas>
      </div>
    </div>
  </div>
  <% end %>
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
ctx.canvas.height = 230;

var chart = new Chart(ctx, {
    type: 'bar',

    data: {
        labels: <%= raw @labels %>,
        datasets: [{
            label: "返済残高",
            backgroundColor: '#6699ff',
            borderColor: '#6699ff',
            data: <%= @data %>,
        }]
    },

    options: {
      title: {
        display: true,
        text: "<%= @issue.title %>",
      }
    }
});
</script>